#google-map{
  border: 2px double black!important;
  margin: 0 auto;
}

body {
  background-color: #faf0e6;
}

header {
  background-color: #4E6177;
}

header img {
  width: 17vw;
  margin: auto;
  display: block;
  width: 80px;
  padding: 1%;
}

#contact-links {
  display: none;
}

#hamburger-menu {
  float: right;
  color: white;
  font-size: 50px;
  margin: 3.5%;
}

#nav-bar {
  position: absolute;
  width: 100%;
}

.nav-ul {
  float: right;
  font-size: 2vw;
  visibility: hidden;
}

.nav-ul li a {
  color: white;
  text-decoration: none;
}

.nav-ul li {
  display: inline;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 3%;
  font-family: 'Comfortaa', cursive;
  padding: 3%;
}

#map-div {
  margin: 4%;
}

#input-radius {
  display: block;
  margin: auto;
  margin-top: 2%;
  font-size: medium;
  background: white;
  width: 120px;
}

#submit {
  margin: auto;
  display: block;
  margin-bottom: 2%;
  margin-top: 0.5%;
  font-size: small;
  background: white;
}

h3 {
  text-align: center;
  font-size: 2em;
  padding: 2vh;
  font-family: 'Comfortaa', cursive;
}

tr {
  background-color: whitesmoke;
  width: 80vw;
  text-align: center;
  border: thin solid black;
  padding: 1vh;
  height: 7vh;
  vertical-align: middle;
}

th {
  background-color: #4E6177;
  color: white;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
}

td {
  border: thin solid black;
  vertical-align: middle;
  padding: 1%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.4vw;
}

table {
  border-collapse: collapse;
  width: 90vw;
}

section {
  margin-left: 5vw;
}

@media all and (min-width: 600px) {
  header img {
    width: 140px;
  }

  h1 {
    font-size: 4vw;
    padding: 1.5%;
  }

  #input-radius {
    width: 200px;
  }

  #submit {
    font-size: medium;
  }

  #map-div {
    margin: 0%;
  }

  #hamburger-menu {
    visibility: hidden;
  }

  .nav-ul {
    visibility: visible;
    margin-top: 60px;
    font-size: 20px;
  }

  #homeNav:hover, #aboutNav:hover, #mapNav:hover {
    color: gray;
  }

  #contact-links {
    float: left;
    color: white;
    font-size: 5px;
    margin-top: 5%;
    margin-left: 8%;
    position: absolute;
    font-size: 18px;
    visibility: visible;
  }

}
