#google-map{
  border: 2px double black!important;
  margin: 0 auto;
}

body {
  background-color: #faf0e6;
}

header {
  background-color: #4E6177;
}

header img {
  width: 17vw;
  margin: auto;
  display: block;
  width: 80px;
  padding: 1%;
}

#contact-links {
  display: none;
}

#hamburger-menu {
  color: white;
  font-size: 50px;
  margin: 3.5%;
  position: absolute;
  right: 10px;
  z-index: 101;
}

.nav-ul {
  flex-direction: column;
  display: none;
}

.nav-ul.opening {
  display: block;
}

nav li {
  border-bottom: 1px solid #f6f4e2;
  position: relative;
}

nav li:last-child {
  border-bottom: none;
}

nav a {
  color: white;
  background: rgb(99, 166, 181);
  display: block;
  padding: 1.5em 4em 1.5em 3em;
  text-decoration: none;
}

.hamburger-menu, .hamburger-menu::before {
  display: none;
  display: block;
  background: #b4b4ab;
  height: 3px;
  width: 2em;
  border-radius: 3px;
}

.open .hamburger-menu::before {
  display: none;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-top: 3%;
  font-family: 'Comfortaa', cursive;
  padding: 3%;
}

h2 {
  text-align: center;
  font-size: 13px;
  font-family: 'Comfortaa', cursive;
  font-style: italic;
  margin: 2% 5%;
}

#map-div {
  margin: 4%;
}

#input-radius, #input-time {
  display: block;
  margin: auto;
  margin-top: 0.5%;
  font-size: medium;
  background: white;
  width: 250px;
}

#submit {
  margin: auto;
  display: block;
  margin-bottom: 2%;
  margin-top: 1%;
  font: 15px arial, sans-serif;
  background: #0066A2;
  border-style: outset;
  border-color: #0066A2;
  color: white;
  text-shadow: none;
}

h3 {
  text-align: center;
  font-size: 2em;
  padding: 2vh;
  padding-top: 3.5%;
  font-family: 'Comfortaa', cursive;
}

h4 {
  text-align: center;
  margin: 2%;
  font-size: large;
  font-family: 'Comfortaa', cursive;
}

#meetings-area tr {
  background-color: whitesmoke;
  width: 80vw;
  text-align: center;
  border: thin solid black;
  padding: 1vh;
  height: 7vh;
  vertical-align: middle;
}

#legend, #meetings-area {
  margin-left: 6vw;
}

#legend tbody tr td {
  font-size: 3.5vw;
  font-style: italic;
  text-align: center;
}

#legend tbody tr {
  height: 4vh;
  background-color: white;
}

#legend thead tr th {
  padding: 2%;
}

th {
  background-color: #4E6177;
  color: white;
  vertical-align: middle;
  font-family: 'Roboto', sans-serif;
}

td {
  border: thin solid black;
  vertical-align: middle;
  padding: 1%;
  font-family: 'Roboto', sans-serif;
  font-size: 3.5vw;
}

table {
  border-collapse: collapse;
  width: 90vw;
}

.info-bold {
  font-weight: bold;
}

#contact-blurb{
  padding: 5%;
  text-align: center;
}

#contact-info-ul{
  text-align: center;
}

#nathan-email{
  padding-bottom: 3.5%;
}

#contact-list{
  font-weight: bold;
}

@media all and (min-width: 600px) {
  header img {
    width: 140px;
  }

  h1 {
    font-size: 4vw;
    padding: 1.5%;
    padding-bottom: 0;
  }

  h2 {
  font-size: 17px;
  margin: 2%;
  }

  td {
    font-size: 1.5vw;
  }

  #legend {
    width: 50vw;
    margin-left: 22%;
  }

  #legend tbody tr td {
    font-size: 13px;
  }

  #input-radius, #input-time {
    width: 300px;
  }

  #submit {
    font-size: medium;
  }

  #map-div {
    margin: 0%;
  }

  #nav-bar {
  position: absolute;
  width: 100%;
  }

  nav a {
    display: inline;
    padding: 1.5em;
  }

  .nav-ul {
    display: inline;
    float: right;
    font-size: 2vw;
  }

  .nav-ul li a {
    color: white;
    text-decoration: none;
  }

  .nav-ul li {
    display: inline;
  }

  #hamburger-menu {
    visibility: hidden;
  }

  #homeNav:hover, #aboutNav:hover, {
    color: gray;
  }

  #contact-links {
    float: left;
    color: white;
    font-size: 5px;
    margin-top: 5%;
    margin-left: 8%;
    position: absolute;
    font-size: 18px;
    display: block !important;
  }

}
