
#map-area, html, body {
  height: 100%;
  width: 100%;
}

#google-map {
  height: 80%;
  width: 80%;
}

#home-data{
  height: 100%;
}

@media all and (max-width:800px){
  .image-class{
  width: 20vw;
  }
  #map-area{
    display: flex;
    justify-content: center;
    max-height: 140vw;
  }
}
