#map-area{
  display: flex;
  justify-content: center;
  padding-top: 10vw;
  max-height: 140vw;
}

#map-area, html, body {
  height: 100%;
  width: 100%;
}

#google-map {
  height: 80%;
  width: 80%;
}
