@media all and (max-width:800px){
  #about-us{
    margin: 0;
  }
  #header-about-us{
  position: relative;
  right: 5vw;
  }

  #name-ul-div{
    padding-left: 5vw;
    display: flex;
    padding-bottom: 10vw;
  }

}