@media all and (max-width:800px){
  #about-us{
    margin: 0;
  }
  #header-about-us{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    
  }

  #name-ul-div{
    display: flex;
    padding-bottom: 10vw;
    color: whitesmoke;
    width: 60vw;
  }

  #name-jacob{
    position: relative;
    top: 5vw;
    left: -1vw;
  }

  #name-chelsea{
    position: relative;
    left: 4vw;
    top: 5vw;
  }

  #name-nathan{
    position: relative;
    top: 5vw;
    right: -30vw;
  }

  #name-matt{
    position: relative;
    top: 5vw;
    left: 34vw;
  }

  .fa-home:before {
    font-size: 5vw;
    content: "\f015";
    position: relative;
    top: 3.5vw;
    right: -45vw;
    color: whitesmoke;
  }

  .image-class{
    position: relative;
    left: 40vw;
    top: 8vw;
  }

  .bio-class{
    position: relative;
    top: 12vw;
  }

  .names-ul:hover{
    cursor: pointer;
    transform: scale(1.2);
  }

}